body{
	color: #555;
	font: 300 14px/1.8 "Open Sans", Arial, sans-serif  ;
	min-width: 960px;
	}
h3, h2{
	font-size: 23px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.6;
	margin-bottom: 20px;
}

h2{
	font-size: 26px;
}

h3{
	font-size: 23px;
}

a, button{
	transition: color .3 ease-in, background-color .3 ease-in, color .3 ease-in, border-color .3 ease-in;
}

.container{
	width: 960px;
	margin: auto;

}
.header-top{
	background: url("http://templated.co/items/demos/solarize/images/banner.jpg") no-repeat 50% 0;
	color: #fff;
	text-align: center;
	padding-bottom: 100px;
	background-size:cover ;
}

.main-menu {
	background-color: rgba(0,0,0, 0.4) ;

}
.main-menu li{
	display: inline-block;
	padding: 0 15px;
	height: 58px;
	line-height: 58px;
}

.main-menu li a{
	text-transform: uppercase;

	text-decoration: none;
	letter-spacing: 2px;
	transition: all .3s linear;
	color: transparent;
	text-shadow: 0 0 1px #fff;
}

.main-menu li a:hover{
	color: #fff;
	text-shadow: 0 0 0 #fff;
}

.banner{
	padding-top: 60px;

}

.banner p{
	font-size: 26px;
	letter-spacing: 1px;
	line-height: 42px;
	text-transform: uppercase;
	margin-top: 20px;
	font-weight: 300;
	padding: 0 30px;
}

.banner .logo{
	margin-top: 40px;
	background-color: #82B440;
	text-transform: uppercase;
	font-size: 48px;
	display: inline-block;
	padding: 0 10px;
	font-weight: 300;
	line-height: 1.4;
}

.col-1, .col-2{
	float: left;
	width: 47%;

}

.col-1{
	margin-right: 3%;
}

.col-2{
	margin-right: 3%;
}

.row{
	padding: 80px 0;

}

.bg-grey{
	background-color: #f2f2f2;
}

.caption{
	font-size: 21px;
	margin-top: 20px;
}

.button, button{
	border: 2px solid #82B440;
	color: #82B440;
	padding: 20px;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
	line-height: 1;
	font-size: 23px;
	margin-top: 20px;

}

.button:hover, button{
	background-color: #82B440;
	color: #fff;
}

.bg-green{
	background-color: #82B440;
}

.sub-title{
	text-align: center;
	color: #ffffff;

}

.sub-title h2{
	font-size: 43px;
	font-weight: 700;

}

.sub-title p{
	font-size: 26px;
	margin-bottom: 30px;
}

.sub-title a{
	color: #ffffff;
	border: 2px solid #ffffff;
}

.sub-title a:hover{
	background-color: #ffffff;
	color: #82B440;
}




.black {
	color: #555 ;
}

.black p{
	margin-top: -10px;
	text-transform: uppercase;
	font-size: 21px;
	letter-spacing: 1px;
}

.list-row-1 li, .list-row-2 li, .list-row-3 li{
	float: left;
	width: 30%;
	margin-left: 30px;
	margin-bottom: 40px;

}

.table li>h3{
	font-size: 18px ;
	font-weight: 700;

}

.table li>h3{
	font-size: 14px;
	position: relative;
	left: -15px;


}
i{
	color: #82B440;
	position: relative;
	left: -20px;
}

.col-img-1{
	width: 25%;
	float: left;
	text-align: center;
}
.col-img-1 img{
	border: 10px solid #fff;
	border-radius: 50%;
	margin-left: 2%;

}

.col-img-1 a{
	border: none;

}

.col-img-1>a:hover{
	color: transparent;

}

.col-img-1 h3{
	font-size: 18px;
	letter-spacing: 2px;
	color: #ffffff;
	font-weight: 700;
}

.col-img-1 p{
	font-size: 15px;
	color: #ffffff;
	padding: 3px;
}

.bg-black{
	background-color: #111;
}

.gray-text p{
	color: #555555;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 400;
	margin-top: -25px;
}

.social-links {
	color: #ffffff;
	text-align: center;
	font-size: 30px;
	margin-bottom: 40px;


}

.social-links a{
	color: #555;
	margin-left: 20px;
	transition: all .3s ease-in;

}

.social-links a:hover{
	color: #ffffff;
	transition: all .3s ease-in;

}

.container  hr{
	opacity: 0.1;
	border-bottom: 1px solid;
	color: inherit ;
}

.footer p{
	font-size: 16px;
	text-align: center;
	color: #555555;
	padding-top: 80px;
	font-weight: 600;

}



/*.fa fa-facebook a{*/
	/*color: #ffffff;*/
	/*font-size: 20px;*/
	/*text-align: center;*/
/*}*/

/*.fa fa-twitter a{*/
	/*color: #ffffff;*/
	/*font-size: 20px;*/
	/*text-align: center;*/

/*}*/

/*.fa fa-dribbble a{*/
	/*color: #ffffff;*/
	/*font-size: 20px;*/
	/*text-align: center;*/
/*}*/

/*.fa fa-google-plus a{*/
	/*color: #ffffff;*/
	/*font-size: 20px;*/
	/*text-align: center;*/
/*}*/

















